.contenedor-fot{
    background-color:  #d1c3be;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    i {
        font-size: 50px;
        text-decoration: none;
        color: #444638;
        }
}