header{
    .navbar{
        background-color: $color-terciario;
        .container-fluid{
            max-width: 1400px;
            margin: 0 auto;
            .collapse{
                flex-grow: inherit;
                .nav-link{
                    text-decoration: none;
                    color: $color-secundario;
                }
            }
        }
    }
}