//*INDEX

.hero-box{
background-image: url(../../img/inicio.webp);
    height: 400px;
    background-position: center;
    background-size: cover;
    padding-top: 6rem;
    h1{
        background-color: rgba(255, 255, 255, 0.4);
        text-align: center;
        font-size: 50px;
        color: #000000;
        width: fit-content;
        margin: 0 auto;
    }
}
.flex-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #444638;
    margin: 5px;
    p{
        display: flex;
        justify-content: center;
        color: white;
    }
    .galeria-imagenes{
        display: flex;
        flex-direction: row;
        padding: auto;
        justify-content: center;
        img{
            width: 20%;
            height: 200%;
            margin: 15px;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
        }
    }
    .informacion{
        justify-content: center;
        p{
            color: #000000;
        }
        h2{
            font-size: 33px;
            padding:0 ;
            color: #000000;
        }
    }
}
.info-index{
    background: $color-terciario;
    color: $color-secundario;
    border: solid;
    box-shadow: 9px 9px 44px -2px rgba(0,0,0,0.83);
-webkit-box-shadow: 9px 9px 44px -2px rgba(0,0,0,0.83);
-moz-box-shadow: 9px 9px 44px -2px rgba(0,0,0,0.83);
    h3{
        font-size: 30px;
        text-align: center;
    }
    p{
        color:$color-secundario;
        @include flex (flex ,center ,center);
    }
}
//* CONTACTOS
.content{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
    .logo{
        text-align: center;
        font-size: 3em;
        span{
            color: white;
        }
    }
        .contacto-form{
            background: #d1c3be;
            box-shadow: 9px 9px 44px -2px rgba(0,0,0,0.83);
-webkit-box-shadow: 9px 9px 44px -2px rgba(0,0,0,0.83);
-moz-box-shadow: 9px 9px 44px -2px rgba(0,0,0,0.83);
            form{
                display: grid;
                grid-template-columns: 1 fr 1 fr;
                .bloque{
                    grid-column: 1 / 3 ;
                }
                div{
                    margin: 0;
                    padding: 1rem;
                    button , input, textarea{
                        width: 97%;
                        padding: 5px;
                        margin: 5px;
                        border: none;
                        background: none;
                        outline: 0;
                        color: #7b504a;
                        border-bottom: 1px solid #7b504a;
                    button{
                        background: #444638;
                        color: #d1c3be;
                        border: 0;
                        text-transform: uppercase;
                        padding: 1rem;
                    }
                    button:hover, button:focus{
                        background: #d1c3be;
                        color:#b85a4e;
                    }
                    }
                }
            }
        }
        .info-contacto{
            background: #7b504a;
            h3, ul ,p{
                text-align: center;
                margin: 0 0 1 rem 0;
                color: white;
            }
            ul{
                list-style: none;
                padding: 0;
                color: white;
            }
        }

}
//*SERVICIOS
.servicios{
    h1{
        font-size: 50px;
        color: white;
    }
    h2{
        font-size: 25 px;
        color: white;
    }
}
.box-servicios{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .item-flex{
        color: white;
        margin: 10px;
        flex: auto;
        padding: 10px;
        box-shadow: 1px 25px 51px -3px rgba(123,80,74,0.69);
-webkit-box-shadow: 1px 25px 51px -3px rgba(123,80,74,0.69);
-moz-box-shadow: 1px 25px 51px -3px rgba(123,80,74,0.69);
        h3{
            text-align: center;
            margin: 0 0 10px;
            font-style: italic ;
        }
    }

}
.grid-galeria{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 15px;
    img{
        width: 100%;
        object-fit: cover;
        height: 90%;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    }
}
//*TESTIMONIOS
h1, h2{
    color: white;
}
.container-fluid{
    .row{
        p{
            display: inherit;
            align-items: center;
            max-width: 1000px;
            margin: 0 auto;
            font-size: 24px;
            color: black;
        }
        h3{
            color:#e3d9d1;
            background-color: #7b504a;
        }
        img{
            width: 50%;
            padding: 5px;
            box-shadow: 9px 9px 44px -2px rgba(0,0,0,0.83);
-webkit-box-shadow: 9px 9px 44px -2px rgba(0,0,0,0.83);
-moz-box-shadow: 9px 9px 44px -2px rgba(0,0,0,0.83);
        }
    }
}
//*NOSOTROS
h1{
    margin: 5px ;
    color: white;
}
.conteiner-nosotros{
    margin: 5px;
    h2{
        font-style: italic;
        color: white;
    }
    p{
        color: $color-terciario;
        max-width: 1400px;
        margin: 0 auto;
        color: white;
    }
}
.galeria-nosotros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    img{
        width: 37%;
        height: auto;
        object-fit: cover;
        margin: 10px;
        box-shadow: 9px 9px 44px -2px rgba(0,0,0,0.83);
-webkit-box-shadow: 9px 9px 44px -2px rgba(0,0,0,0.83);
-moz-box-shadow: 9px 9px 44px -2px rgba(0,0,0,0.83);
    }
}