//*Mediaquerys INDEX 
@media (max-width:350px) {
    .navbar-brand{
        font-size: 0px;
        
    }
}

@media (max-width: 820px) {
    .flex-container{
        .galeria-imagenes{
            flex-direction: column;
            align-items: center;
            object-fit: cover;
            img{
                width: 50%;
                height: 200%;
                margin: 15px ;
            }
        }
    }
}
@media (max-width: 597px){
    .hero-box{
        h1{
            font-size: 35px;
        }
    }
    .info-index{
        h3{
            font-size: 22px;
        }
    }
    }

@media (min-width: 1000px){
    body{
        padding: 0 4rem;
        .caja-contacto{
            display: grid;
            grid-template-columns: 2fr 1fr;
            padding: 2em;
            .info-contacto h3, UL, P{
                    padding: 1em;
                    text-align: left;
                
            }
        }
    }
}
@media (max-width: 412px) {
    .content{
        padding: 17px;
    }
}
//*Mediaquerys SERVICIOS
@media (max-width: 848px){
    .box-servicios{
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .grid-galeria {
        display: flex;
        flex-direction: column;
        align-items: center;
        object-fit: cover;
        .grid-item{
            width: 60%;
            height: 200%;
            margin: 15px ;
        }
    }
}
//*Mediaquerys TESTIMONIOS

@media (max-width: 1324px){
    .container-fluid{
        .row{
            p{
                font-size: 13px;
            }
        }
    }

}
@media (max-width: 1634px){
    .container-fluid{
        .row{
            p{
                font-size: 16px;
            }
        }
    }
}
//*Mediaquerys Foot
@media (max-width: 481px){
    footer i {
        font-size: 38px;
    }
}
//Mediaquerys nosotros
@media (max-width: 700px){
    .galeria-nosotros{
        flex-direction: column;
        align-items: center;
    } 
    
}