* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    text-decoration: none;
}
body {
    font-family: 'Raleway', sans-serif;
    color: black;
    background: linear-gradient( #7b504a, white) ;
}